<div ng-show='poke.show' class='pokeprofil'>
    <p>No : {{poke.profil.id}}</p>
    <p>Name : {{poke.profil.name}}</p>
    <p>Description : {{poke.desc}}</p>
    <p>Heigth : {{poke.profil.height / 10}} m</p>
    <p>Weight : {{poke.profil.weight / 10}} kg
        <div class="poke-types">
        Type :
            <div class='type' ng-repeat='type in poke.profil.types' ng-class='type.type.name'>{{type.type.name}}</div>
        </div>
    </p>
    <ul>
        <li>Stats :</li>
        <li ng-repeat="stat in poke.profil.stats | orderBy:'id':false">{{stat.stat.name}} : {{stat.base_stat}}</li>
    </ul>

    <ul>
        <li>Moves :</li>
        <li ng-repeat='move in poke.profil.moves'>{{move.move.name}}</li>
    </ul>

    <ul>
        <li>Abilities :</li>
        <li ng-repeat='ability in poke.profil.abilities'>{{ability.ability.name}}</li>
    </ul>

    <div ng-show='poke.previous'>
        <p ng-click='pkCtrl.showProfil(poke.previous.name)'>{{poke.previous.name}}</p>
        <p>No : {{poke.previous.id}}</p>
        <p><img src="{{poke.previous.sprite}}"></p>
    </div>
    <div ng-show='poke.next'>
        <p>Evolution : </p>
        <p ng-click='pkCtrl.showProfil(poke.next.name)'>{{poke.next.name}}</p>
        <p>No : {{poke.next.id}}</p>
        <p><img src="{{poke.next.sprite}}"></p>
    </div>
    <p><img src="{{poke.profil.sprites['front_default']}}"></p>
</div>