/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

/* My_Pokedex */

ol, ul {
    list-style: none;
}

body {
    font-family: sans-serif;
}

.main-header {
    text-align: center;
}

.poke-loader {
    text-align: center;
}

.poke-searchnlist {
    min-width: 450px;
}
.poke-stat {
    font-weight: bold;
}
.poke-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
pokelist {
    display: block;
    max-height: 700px;
    overflow-y: scroll;
}

pokeprofil {
    text-align: center;
}

pokeprofil {
    flex: 70%;
    display: flex;
    justify-content: center;
}
.poke-searchnlist  {
    flex-basis: 30%;
}

.poke-search {
    margin-bottom: 25px;
}
.poke-search input {
    width: 100%;
}

.poke-header {
    text-align: center;
}
.poke-sprite {
    margin: 0 auto;
    width: 96px;
}

.poke-ul-flex, .poke-evo-flex {
    display: flex;
}
.poke-ul {
    flex: 1;
}
.poke-ul ul {
    text-align: left;
}
.poke-moves ul {
    height: 300px;
    overflow-y: scroll;
}

.poke-evolutions h3 {
    text-align: center;
}
.poke-evolve {
    flex: 1;
    text-align: center;
}

.fav {
    width: 25px;
    height: 25px;
    background-color: green;
}
.unfav {
    background-color: red;
}

.team-body {
    display: flex;
}
.type {
    display: inline;
    padding: 2px 10px 2px 10px;
    margin: 0px 5px 0px 5px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.bug {
    background-color: #88960E;
}
.dark {
    background-color: #3C2D23;
}
.dragon {
    background-color: #4E3BA4;
}
.electric {
    background-color: #E79302;
}
.fairy {
    background-color: #E08EE0;
}
.fighting {
    background-color: #602311;
}
.fire {
    background-color: #C72100;
}
.flying {
    background-color: #5D73D4;
}
.ghost {
    background-color: #444491;
}
.grass {
    background-color: #409F09;
}
.ground {
    background-color: #AD8C32;
}
.ice {
    background-color: #6DD3F5;
}
.normal {
    background-color: #AAA291;
}
.poison {
    background-color: #6B246E;
}
.psychic {
    background-color: #DC3165;
}
.rock {
    background-color: #9E863D;
}
.steel {
    background-color: #8E8E9F;
}
.water {
    background-color: #0B66C1;
}