/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
/* My_Pokedex */
pokelist {
    border: 1px solid black;
    float: left;
    height: 500px;
    overflow-y: scroll;
}

pokeprofil {
    border: 1px solid red;
    float: right;

}

.type {
    display: inline;
}
.bug {
    color: #88960E;
}
.dark {
    color: #3C2D23;
}
.dragon {
    color: #4E3BA4;
}
.electric {
    color: #E79302;
}
.fairy {
    color: #E08EE0;
}
.fighting {
    color: #602311;
}
.fire {
    color: #C72100;
}
.flying {
    color: #5D73D4;
}
.ghost {
    color: #444491;
}
.grass {
    color: #409F09;
}
.ground {
    color: #AD8C32;
}
.ice {
    color: #6DD3F5;
}
.normal {
    color: #AAA291;
}
.poison {
    color: #6B246E;
}
.psychic {
    color: #DC3165;
}
.rock {
    color: #9E863D;
}
.steel {
    color: #8E8E9F;
}
.water {
    color: #0B66C1;
}